@import "../../styles/colors.scss";

.loginWrap {
  display: flex;
  height: 100vh;

  .formWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 778px;
    height: 100%;

    .form {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: 40px 60px;
      width: 100%;
      color: $black;

      h2 {
        color: $black;
        font-size: 34px;
        font-weight: 600;
      }

      button {
        margin: 20px 0px;
        cursor: pointer;
      }

      .link {
        text-align: center;
        color: $primary;
        text-transform: lowercase;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .loginWrap {
    .formWrap {
      .form{
        padding: 35px;
      }
    }
  }
}
@media only screen and (max-width: 668px){
  .loginWrap {
    flex-direction: column;

    .formWrap {
      display: block;
      margin-top: 20px;
      width: 100%;
      height: 70%;
      max-width: 100vw;

      .form {
        padding: 0 20px;

        button {
          margin-top: 30px;
        }
      }
    }
  }
}