@import "../../../../styles/colors.scss";

.restaurantFoodList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.4rem;
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;
}

.empty {
  display: flex;
  justify-content: center;

  h3 {
    font-size: 24px;
    font-weight: 400;
    color: $lightBlack;
  }
}