$white: #ffffff;
$black: #3e3e3e;
$lightBlack: #717171;
$background: #FFFFFF;
$borderColor: #f2f2f2;
$borderColorDark: #dbdad9;
$primary: #ea1d2c;
$primaryLight: rgba($primary, 0.7);
$primaryDisabled: #f37a83;
$disabledColor: #999999;
$valid: #4caf50;
$invalid: #ef5350;
$yellow: #e7a74e;
$headerBackground: #f7f7f7;